{% extends 'base.html.twig' %}
{% block title 'Mon Agence' %}
{% block body %}
    <div class="jumbotron text-center">
        <div class="container">
            <h1>Bienvenue sur la page index!</h1>
            <p>Lorem hdjkqehcfhvdsbccqnlkdhkfbvnd,c,mkjlfkjbvjndcsqxwiugyfcvbendz,sqlxkjhckghjdbqxsnlkjlcdhj</p>
        </div>
    </div>


{% endblock %}