{% extends 'base.html.twig' %}
{% block title 'Voir tout nos biens' %}

{% block body %}
    <div class="jumbotron text-center">
        <div class="container">
            <h1>Voir tous nos biens</h1>
            <p>Lorem hdjkqehcfhvdsbccqnlkdhkfbvnd,c,mkjlfkjbvjndcsqxwiugyfcvbendz,sqlxkjhckghjdbqxsnlkjlcdhj</p>
        </div>
    </div>


{% endblock %}